@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Righteous&display=swap');
/* .righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */

:root {
    --colour-spaceship-red: #E43020;
    --colour-deepspace: #1F282D;
    --colour-whiteStar: #F7FDFF;
    --text-size: 64px;
    --liftoff-height: 75vh;
    --top-offset: 20vh;
    --flight-timing: 12000ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colour-deepspace);
    font-family: "Righteous", sans-serif;
    font-size: var(--text-size);
    letter-spacing: 0.4rem; 
    height: 100vh;
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    color: var(--colour-whiteStar);
}

#main-word-box {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    transform: translate(0, -20vh);
    margin-left: var(--text-size);
    gap: 6rem;
    animation: movein var(--flight-timing) ease-in-out infinite 2s;
}

.planet {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* bottom: 0; */
    margin-top: 70vh;
} 
.planet img {
    background-color: forestgreen;
    border-radius: 50%;
    height: 80vw;
    width: 80vw;
}

#space-ship-A {
    z-index: 20;
    position: absolute;
    width: var(--text-size);
    top: 0;
    transform: translate(calc(50vw - var(--text-size) / 2 ), var(--liftoff-height));
}
#space-ship-A > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#afterburn {
    width: var(--text-size);
    transform-origin: top;
    transform: rotateX(90deg);
}
#space-ship-A svg {
    /* animation: cruising 200ms linear infinite;    */
    height: calc(var(--text-size) * 1.2);
    fill: var(--colour-whiteStar); 
}

.red {
    background-color: red;
} 

/* animation classes */
/* animation: name duration timing-function delay iteration-count direction fill-mode; */

.animated-liftoff {
    animation: liftoff 300ms linear;
}
.animated-cruising {
    animation: 
        liftoff 300ms linear 1.5s,
        cruising 200ms linear infinite 2s;       
}
.animated-flight {
    animation: flight var(--flight-timing) ease-in-out infinite 2s;   
}
.animated-move {
    animation: movein var(--flight-timing) ease-in-out infinite 2s;
}
.animated-afterburn {
    animation: afterburn var(--flight-timing) linear infinite 2s;
}

@keyframes movein {
    40%, 60% {
        transform: translate(0, var(--top-offset));
    }
}

 /*TODO fix the cruising shaking per animation loop */
@keyframes cruising {
    25% {
        transform: translate(-2.5px);
    }
    75% {
        transform: translate(2.5px);
    }
}
@keyframes afterburn {
    25% {
        transform: 
            rotateX(0deg);
    }
    50% {
        transform: 
            rotateX(30deg);
    }
}

@keyframes liftoff {
    0%, 50% {
        transform: translateX(-3px);
    }
    25%, 75% {
        transform: translateX(3px);
    }   
}


@keyframes flight {
    20%, 70% {
        transform: translate(0, calc(var(--liftoff-height) * -1 + var(--top-offset) + calc(var(--text-size) / 2.8))); 
        rotate: 1.5deg;
    }
    45% {
        rotate: -1.5deg;
    }
    55% {
        rotate: 1.5deg;
    }

} 

